<!doctype html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소셜 로그인</title>
</head>
<body>
<h1>소셜 로그인</h1>
<a href="/signup">가입</a>
<a href="/login">로그인</a>
<section sec:authorize="isAnonymous()">
    <p>로그인이 필요합니다</p>
</section>
<section sec:authorize="isAuthenticated()">
    <p>반갑습니다</p>
    <form method="post" th:action="@{/logout}">
        <button>로그아웃</button>
    </form>
    <p>유저이름 : <span sec:authentication="name"></span></p>
    <p>유저ID : <span th:text="${#authentication.principal.id}"></span></p>
    <p>권한목록 : <span sec:authentication="principal.authorities"></span></p>
</section>
</body>
</html>